@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-color: rgb(81, 7, 150);
}

h1, h2{
 text-align: center;
 font-family: 'Bungee';
 color: #FED900;
 font-weight: bold;
}

.addNotes{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  margin: auto;
  width: 50%;
  border: 3px solid #FED900;
  padding: 10px;
  border-width: 100px;
}

.yournotes{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 20px;
}

.yournotes1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
    margin-top: 40px;
}

button{
    font-family: 'Poppins';
    background-color: slateblue;
    color: black;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

textarea{
    color: crimson;
}
